@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ADD Doctor</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background-image: url('../../iamges/pl.jpg');
            background-size: cover;
        }

        .Box {
            width: 300px;
            padding: 30px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background: rgba(0,0,0,0.4);
            text-align: center;
        }

            .Box h1 {
                color: white;
                text-transform: uppercase;
                font-weight: 700;
            }

            .Box input[type= "text"], .Box input[type="password"] {
                border: 0;
                background: none;
                display: block;
                margin: 20px auto;
                text-align: center;
                border: 3px solid #0367fd;
                padding: 14px 10px;
                width: 220px;
                outline: none;
                color: white;
                border-radius: 24px;
                transition: 0.25px;
            }

                .Box input[type="text"]:focus, .Box input[type"password"]:focus {
                    width: 270px;
                    border-color: #ffc400ec;
                }

            .Box input[type="submit"] {
                border: 0;
                background: none;
                display: block;
                margin: 20px auto;
                text-align: center;
                border: 3px solid #0367fd;
                padding: 14px 10px;
                width: 220px;
                outline: none;
                color: white;
                border-radius: 24px;
                transition: 0.25px;
                cursor: pointer;
            }

                .Box input[type="submit"]:hover {
                    border: #0367fd;
                }
    </style>
</head>
<body>
    <form class="Box" action="Doctor" method="POST">
        <h1>
            ADD DOCOTOR
        </h1>
        <input type="text" name="Doctor_name" placeholder="Doctor Name" id="Doctor_name" />
        <input type="text" name="Doctor_id" placeholder="Doctor Id" id="Doctor_id" />
        <input type="text" name="Doctor_Experience" placeholder="Doctor Experience" id="Doctor_Experience" />
        <input type="password" name="Doctor_password" placeholder="Doctor_password" id="Doctor_password" />
        <input type="text" name="Doctor_age" placeholder="Doctor Age" id="Doctor_age" />
        <input type="text" name="Doctor_Room_number" placeholder="Doctor Room Number" id="Doctor_Room_number" />
        <button type="submit">Submit</button>
        
    </form>
</body>
</html>
