@{
 Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
    <style>
        * {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),linear-gradient(#ddd6f3, #faaca8);
            background-size: 500px 1000px;
            height: 100%;
        }

        .header {
            width: 100.91%;
            background-color: black;
            margin-top: -0.5%;
            height: 80px;
            margin-left: -0.5%;
        }

        .text {
            font-size: 30px;
            text-align: center;
            margin-top: -3%;
            height: 40px;
            color: white;
        }

        .text2 {
            margin-top: 5%;
            font-size: 30px;
            color: white;
            margin-left: 10%;
        }

        button {
            padding: 5px;
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 18px;
            width: 8%;
            margin-top: 1%;
            margin-left: 10%;
        }

            button:hover {
                cursor: pointer;
            }

        .btn2 {
            margin-left: 5%;
        }
    </style>
</head>
<body>
    <div class="header">
    </div>
    <p class="text">Main Form</p>
    <p class="text2">Options : </p>
    <div>
        <a href="Doctor"><button type="button" class="btn1">Insert</button></a>
        <a href="Select"><button type="button" class="btn2">Show Data</button></a>
    </div>
</body>
</html>